# задаём название проекта (https://docs.docker.com/compose/environment-variables/envvars/)
COMPOSE_PROJECT_NAME=base_web_service_rust
PROJECT_URL=base_web_service_rust.localhost

# dev or test or prod or stage (тут указываем те значения, которые обрабатываем в rust)
APP_ENV=dev

# Настройки Nginx
NGINX_VERSION=1.29.3 # в случае изменения версии, нужно обновить файл nginx/nginx.conf, содержимое которого нужно взять из контейнера nginx из файла /etc/nginx/nginx.conf
DOCKER_NGINX_VERSION=${NGINX_VERSION}-trixie
NGINX_HOST=${PROJECT_URL}
NGINX_PORT_80=80
NGINX_OUTER_PORT_80=80
NGINX_PORT_443=443
NGINX_OUTER_PORT_443=443
ROOT_DIR=/home/${NGINX_HOST}
NGINX_ROOT_DIR=${ROOT_DIR}
NGINX_LOG_DIR=/var/log/nginx
NGINX_SSL_DIR=/etc/nginx/ssl

# Docker network
SERVICE_NETWORK_NAME=${COMPOSE_PROJECT_NAME}_network

# Временная зона
# WORKSPACE_TIMEZONE=Asia/Yekaterinburg

# Настройки Postgres
POSTGRES_PROJECT_DB=${COMPOSE_PROJECT_NAME}_db                  # тут нельзя тире/дефисы вот эти -
POSTGRES_PROJECT_USER=${COMPOSE_PROJECT_NAME}_user              # тут нельзя тире/дефисы вот эти -
POSTGRES_PASSWORD=${COMPOSE_PROJECT_NAME}_password
POSTGRES_PROJECT_IMAGE=${COMPOSE_PROJECT_NAME}_postgres
POSTGRES_PROJECT_HOST=postgres_host # название как у сервиса в docker-compose.yml
# POSTGRES_PROJECT_HOST=172.17.0.1
# Если постгрес запущен в другой сети контейнеров,
# смотрим Gateway этой сети docker network inspect {NETWORK_NAME}
# и пишем его в значение POSTGRES_PROJECT_HOST.
# По умолчанию у сети bridge Gateway = 172.17.0.1
# и пока эта сеть существует, мы можем подключаться к базе через него

POSTGRES_PORT=5432
POSTGRES_OUTER_PORT=5432
POSTGRES_PROJECT_CHARSET=utf8
POSTGRES_HOST_AUTH_METHOD=scram-sha-256
POSTGRES_INITDB_ARGS=--auth-host=scram-sha-256
# Наследуемся от официального докер образа postgres
# https://hub.docker.com/_/postgres
POSTGRES_PROJECT_VERSION=18.3
PG_ALLVERSIONS_DATA=/var/lib/postgresql # for postgres versions 18+
#PG_ALLVERSIONS_DATA=/var/lib/postgresql/data # for postgres versions before 18

DATABASE_URL="postgresql://$POSTGRES_PROJECT_USER:$POSTGRES_PASSWORD@$POSTGRES_PROJECT_HOST:$POSTGRES_OUTER_PORT/$POSTGRES_PROJECT_DB?serverVersion=$POSTGRES_PROJECT_VERSION&charset=$POSTGRES_PROJECT_CHARSET"

DUMP_DB_URL="postgresql://$POSTGRES_PROJECT_USER:$POSTGRES_PASSWORD@$POSTGRES_PROJECT_HOST:$POSTGRES_OUTER_PORT/$POSTGRES_PROJECT_DB"

###### Настройки RUST
RUST_PROJECT_IMAGE=${COMPOSE_PROJECT_NAME}
RUST_PROJECT_HOST=rust_host
RUST_PROJECT_VERSION=1.97.0
DOCKER_RUST_VERSION=${RUST_PROJECT_VERSION}-trixie
RUST_PORT=8080
RUST_OUTER_PORT=8080

REDIS_IMAGE=redis
REDIS_VERSION=7.2.7-alpine
#REDIS_CONTAINER_NAME=redis_host
REDIS_PORT=6379
REDIS_OUTER_PORT=6379
REDIS_PROJECT_HOST=redis_host
REDIS_URL="redis://$REDIS_PROJECT_HOST:$POSTGRES_OUTER_PORT"
