server {

    # for http
    listen     ${NGINX_PORT_80};                    # IPv4
    listen     [::]:${NGINX_PORT_80};               # IPv6

    server_name ${NGINX_HOST} www.${NGINX_HOST};
    server_tokens off; ## Don't show the nginx version number, a security best practice

    #
    #charset    utf-8;
    #
    #client_max_body_size 75M;

    root  ${NGINX_ROOT_DIR};

    access_log  ${NGINX_LOG_DIR}/${NGINX_PORT_80}/${NGINX_HOST}.access.log;
    error_log   ${NGINX_LOG_DIR}/${NGINX_PORT_80}/${NGINX_HOST}.error.log;

    location / {
        #proxy_pass http://${RUST_PROJECT_HOST}:${RUST_PORT}?$query_string;
        proxy_pass http://${RUST_PROJECT_HOST}:${RUST_PORT};

        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }

    # для всех запросов с точками, задаём root директорию в папке static
    location ~* ^.+\..+$ {
        root ${NGINX_ROOT_DIR}/static;
    }
}